/* GLOBAL */
body {
	font-family: 'Roboto', sans-serif;
}
.container.full {
	width: 100%;
}

/* NAVBAR */
.navbar-default {
	background: #f7f8fa;
	border-bottom: 1px solid #e7e6eb;
	margin-bottom: 0;
}
.navbar .container {
	padding: 0;
}

/* BUTTONS */
.cal_view .btn-default.selected {
	background: #4b3a8d;
	border: 2px solid #4b3a8d;
	color: #fff;
}
.cal_view .btn-default.selected:hover {
	background: #4b3a8d;
	border-color: #423182;
}
.cal_view .btn-default {
	border: 2px solid #e9e9e9;
}
.cal_view .btn-default:hover {
	background: #fff;
	border-color: #4b3a8d;
}

/* CALENDAR */
.calendar {
	color: #fff;
	background: #4b3a8d;
}
.calendar-left {
	background: #423182;
}
.calendar-right {
	background: #4b3a8d;
	padding: 0 20px;
}
.cal_details {
	margin-top: 20px;
}
.cal_month {
	font-size: 30px;
	font-weight: 300;
	font-weight: 100;
}

/* WEATHER */
.weather {
	margin-top: 25%
}
.weather-icon {
	font-size: 80px;
	text-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.weather-temp {
	font-size: 30px;
	font-weight: 300;
}
.weather-temp span {
	font-size: 20px;
	margin-left: 10px;
}
.weather-locale {
	font-size: 20px;
	font-weight: 300;
}

/* CALENDAR */
.fc-day {
	background: #4b3a8d;
}
.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
	/*border-color: #0f0;*/
	border-color: transparent;
}
.fc-unthemed .fc-today {
	background: #423182;
}
.fc-state-highlight {
	/*background: #fff7f7;*/
}
.fc-event, .fc-event-dot {
	background-color: #03ac05;
}
.fc-content-skeleton tr td.fc-event-container:nth-child(1n+0) a {
	background: #f00;
}
.fc-content-skeleton tr td.fc-event-container:nth-child(2n+0) a {
	background: #0f0;
}
.fc-content-skeleton tr td.fc-event-container:nth-child(3n+0) a {
	background: #00f;
}
.fc-content-skeleton tr td.fc-event-container:nth-child(4n+0) a {
	background: #ff0;
}
.fc-content-skeleton tr td.fc-event-container:nth-child(5n+0) a {
	background: #0ff;
}
.fc-content-skeleton tr td.fc-event-container:nth-child(6n+0) a {
	background: #fff;
}
.fc-day-number {
	font-size: 14px;
	font-weight: 100;
	color: #fff;
}

/* COLOURS */
.bg-white {
	background: #fff;
}
.bg-grey {
	background: #f8f9fb;
}

/* MARGINS */

/* PADDING */
.p-lg {
	padding: 50px;
}
.p-md {
	padding: 20px;
}
